<html>
  <head>
    <title></title>
  </head>
  	<h1>Contact Us</h1>
  		<div>
  			<a href="home">Home</a>
  			<a href="contact">Contact Us</a>
  			<a href="trucks">Truck Database</a>
  		</div>
  	<body>
  	</body>
</html>