<!DOCTYPE>

<html>
  <head>
    <title></title>
  </head>
  	<header>
      <h1>Truck-a-ba-loo</h1>
      <nav id= "menu">
        <ul>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact Us</a></li>
          <li><a href="trucks">Truck Database</a></li>
        </ul>
      </nav>
    <section id = "cover" style ="background-image: url('http://farm7.staticflickr.com/6188/6117251799_653d539d41_o.jpg')"></section>  
    <div class = "content">
      <section id = "Trucks" data-scroll-index = "01">
          <div class = "wrapper">
            <div class = "intro">
              <h2> Our Trucks</h2>
      </section>
      <section id = "About" data-scroll-index = "02"></section>
      <section id = "contact" data-scroll-index = "03"></section>
    </div>
    </header>
    <body>
    This is text
    </body>
</html>