<!DOCTYPE>

<html>
  <head>
    <title></title>
  </head>
  	<header>
      <h1>Truck-a-ba-loo</h1>
      <nav id= "menu">
        <ul>
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact Us</a></li>
          <li><a href="trucks">Truck Database</a></li>
          <li>Sign in</li>
        </ul>
      </nav>
    </header>
    <section id = "cover" style ="background-image: url('http://farm7.staticflickr.com/6188/6117251799_653d539d41_o.jpg')"></section>  
    <div class = "content">
    <div class = "divider"><img style= 'width:50%;' src= "http://im1.shutterfly.com/media/47a4da31b3127ccef581d81c9fd500000030O00QatmjNs2cNwe3nwA/cC/f%3D0/ls%3D00708660346520140411015108455.JPG/ps%3D50/r%3D0/rx%3D720/ry%3D480/"/></div>
      <section id = "Trucks" data-scroll-index = "01">
          <div class = "wrapper">
            <div class = "intro">
              <h2>Our Trucks</h2>
              <h3>The best selection of food trucks New York has to offer</h3>
              <ul class ="grid">
                <li>
                  <a href ="trucks"><img src = "http://www.bobjo.net/images/sm_menu/bbb_sm.jpg"/>
                  <div class = "caption"><span>Bob & Jo</span></div>
                  </a>
                </li>
                 <li>
                  <a href ="trucks"><img src = "http://www.korillabbq.com/sites/default/files/emptybox_logo.png"
                  /></a>
                  </li>
                </li>
                  </a>
                </li>
                <li></li>
                
              
      </section>
      <section id = "About" data-scroll-index = "02"></section>
      <section id = "contact" data-scroll-index = "03"></section>
    </div>
    <body>
    </body>
</html>


        
