// Place all the styles related to the pages_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
	position: fixed;
	left:0px;
	top:0px;
	width: 100%;
	z-index:1;
	background-color:#ffffff; 
}

header nav li{
	display: inline;
	margin-right: 5%;

}

header h1{
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:1.2rem;
	font-family:rockwell;
	font-weight: 200;
}

h1{
	display: block;
	float:left;
	margin-right:0%;
	margin-left: 0%;
	width:39%;
}

nav{
	text-align: right;
}

section#cover{
	display:block;
	padding-top:35%;
	height:10rem;
	background-size: cover;
	background-position: center center;
}

nav#menu{
	text-transform: uppercase;
	font-size: 1.0rem;
	opacity: 0.4;
	font-weight: 800;

}

section#trucks
{
	background-color: #fffff0;
	text-transform: uppercase;
}

h2
{
	text-transform: uppercase;
	font-size: 1.0rem;
	opacity: 0.4;
	font-weight: 900;
	font-family: rockwell;
	text-align: center;
}